@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.forgot-password-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .forgot-password-container input {
    padding: 10px;
    width: 100%;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forgot-password-container button {
    padding: 10px 20px;
    background-color:rgb(255, 132, 0);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: "QuickSand";
  }
  .forgot-password-container button:hover{
    transition: ease-in-out 0.3s;
    background-color:rgb(224, 118, 4);
  }
  .forgot-password-container .success-msg {
    color: green;
    margin-top: 15px;
  }
  
  .forgot-password-container .error-msg {
    color: red;
    margin-top: 15px;
  }
  
  .back-login {
    margin-top: 20px;
    color: #007bff;
    cursor: pointer;
  }
  